<section ng-controller="HeaderController as vm">
  <div class="jumbotron text-center" ng-hide="vm.authentication.user" >
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Open-Source Full-Stack Solution For MEAN Applications
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div ng-show="vm.authentication.user" ng-controller="MeetingsController as mc">
    <div class="panel panel-default" style="width:130%; margin-left:-170px; font-size:20px; margin-top:70px;">
              <div class="panel-heading" style="background-color:#19b1c3;">
                  My Meetings
              </div>
              <div class="panel-body">
                <table id="table1" class="table table-striped task-table">
                  <thead >
                    <th>Topic</th>
                      <th>Date/Time</th>
                      <th>Link</th>
                      <!--th>Group Leader</th>
                      <th>Status</th>
                      <th>&nbsp;</th-->
                  </thead id="table2">
                  <tr ng-repeat="meeting in mc.meetings">
                    <td>{{ meeting.name}}</td>
                    <td>{{ meeting.leader }}</td>
                    <td>{{ meeting.name }}</td>
                    <td><button ng-click="mc.save('true')">Register</button></td>
                  </tr>
                </table>
              </div>
        </div>

        <div class="panel panel-default" style="width:130%; margin-left:-170px; font-size:20px;">
                  <div class="panel-heading" style="background-color:#19b1c3;">
                      Upcoming Meetings
                  </div>
                  <div class="panel-body">
                    <table  id="table1" class="table table-striped task-table">
                      <thead >
                          <th>Topic</th>
                          <th>Date/Time</th>
                          <th>Link</th>
                          <th><button ng-click="mc.save('true')">Register</button></th>
                      </thead>

                        <tr ng-repeat="meeting in mc.meetingdata">
                          <td>{{ meeting.topic }}</td>
                          <td>{{ meeting.created_at }}</td>
                          <td>{{ meeting.topic }}</td>
                          <td><button>Register</button></td>
                        </tr>

                    </table>
                  </div>
            </div>
  </div>
</section>
