<section ng-controller="MeetingsController as mc">
  <div class="pad">
  	<br>
  	<h1>Weekly Online Adjusting to Motherhood Support Group</h1>
  	<br>
  	<div style="padding: 50px;" class="panel panel-default">
  	<h2>{{mc.meetingDate}}</h2>
  	<h3><b>Facilitator:</b> Cheryl Hart </h3>
  	<h3><b>Read before joining:</b>
  		<br>Weekly Online Support Groups are peer led, meaning they are facilitated <br> by a volunteer who has ived through perinatal depression or anxiety.
  	</h3>
  	<h3><b>A couple things to remember before joining:</b>
  		<ul>
  			<li>This is a safe, non-judgemental space to share our thoughts and struggles with other moms
  			</li>
  			<br>
  			<li>After the meeting, you will be invited to join a private Facebook group to connect with other moms.<br>We encourage you to join to build friendships and support each other
  			</li>
  		</ul>
  	</h3>
  	<h3><b>Instructions to join:</b></h3>
  	<br>
  	<div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-primary"><a href="{{mc.url}}" target="_blank">Join</a></button>
      <!--button type="button" class="btn btn-primary" ng-click="mc.goHome()">Return to Home page</button-->
      </div>
      <h3>iPhone one-tap(US TOLL): +14086380968..350705669#</h3>
      <br>
      <h3>Or Telephone:
      	<br>
      	Dial:1(408)638-0968
      	<br>
      	Meeting ID: 350 705 669
      </h3>
      </div>

  </div>
</section>
