<section>
  <!--div class="page-header">
    <h1>Meetings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="meeting in vm.meetings"
       ui-sref="meetings.view({ meetingId: meeting._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="meeting.created | date:'mediumDate'"></span>
        by
        <span ng-if="meeting.name" ng-bind="meeting.name"></span>
        <span ng-if="!meeting.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="meeting.name"></h4>
    </a>
  </div>
  <div class="panel panel-default" style="width:130%; margin-left:-170px; font-size:20px;">
            <div class="panel-heading" style="background-color:#19b1c3;">
                Upcoming Meetings
            </div>
            <div class="panel-body">
              <table ng-controller="MeetingsController as mc" id="table1" class="table table-striped task-table">
                <thead >
                    <th>Topic</th>
                    <th>Date/Time</th>
                    <th>Link</th>
                    <th><button >Register</button></th>
                </thead>

                  <tr ng-repeat="meeting in mc.meetingdata">
                    <td>{{ meeting.topic }}</td>
                    <td>{{ meeting.created_at }}</td>
                    <td>{{ meeting.topic }}</td>
                    <td><button>Register</button></td>
                  </tr>

              </table>
            </div>
      </div>
  <div class="alert alert-warning text-center" ng-if="vm.meetings.$resolved && !vm.meetings.length">
    No Meetings yet, why don't you <a ui-sref="meetings.create">create one</a>?
  </div-->
  <div>
  	<h1 class="line1">New Adjusting to Motherhood Emotional Support Group</h1>
  </div>
  <div>
  	<h3 class="textpadding">INSERT DATE HERE</h2>
  </div>
  <div>
  	<h3 class="textpadding"><b>Group Leader:</b> INSERT GROUP LEADER</h3>
  </div>
  <div class="box" class="boxshadow">
  	<div>
  		<h3>You Have successfully registered for this meeting! </h3>

  		<h3>Click on any of the links below to add this to your calendar</h3>
  	</div>

  	<div class="row" style="padding-bottom: 20px; padding-top: 20px;">
      	<div class="col-sm-4">
        		<a class="link" href="https://calendar.google.com">Google Calendar</a>
      	</div>
      	<div class="col-sm-4">
        		<a class="link" href="https://www.icloud.com/#calendar">Apple Calendar</a>
      	</div>
      	<div class="col-sm-4">
      		<a class="link" href="https://office.live.com/start/Calendar.aspx">Outlook</a>
      	</div>
    	</div>

    	<div class="row">
    		<div class="col-sm-11">
    			<h4>We encourage participants to provide an emergency contact number in their profile before joining the online community.</h4>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-sm-1"></div>
    		<div class="col-sm-2">
    			<a class="link" href="#"> Fill it out here in your profile </a>
    		</div>
    	</div>

    	<div class="row" style="padding-top: 20px;">
    		<div class="col-sm-1"></div>
    		<div class="col-sm-2"><h4>Get an email reminder</h4>
    		</div>
    		<div class="col-sm-1">
    			<div class="dropdown">
    			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      			Select Days
    			</button>
    				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      				<a class="dropdown-item" href="#">1 Day</a>
      				<a class="dropdown-item" href="#">2 Days</a>
      				<a class="dropdown-item" href="#">3 Days</a>
    				</div>
  			</div>
    		</div>
    		<div class="col-sm-2"><h4>before the meeting</h4></div>
    	</div>


  	<div class="row" style="padding-top: 10px">
  		<div class="col-sm-4">
  			<button type="button" class="btnend btn-primary">Save and Return to My Meetings</button>
  		</div>

  	</div>
  </div>
</section>
