@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}

.Zipcode-i {
	font-size: 11px;
	margin-bottom: 5px;
}

.box{
	padding-top: 10px;
	text-align: center;
	background-color: #00CED1;
	border-radius: 10px;
	color: white;
}

.logintext {
	text-align: center;
	color: white;
	margin-bottom: 15px;
}

.mycontent-left {
	padding-right: 50px;
	margin-right: 10px;
  border-right: 1px solid #333;
}

h3 {
	margin-top: 8px;
}


.panel-body {
	padding: 50px;
}

.container {
	left:auto;
	right:auto;
}

.signup-bullets {
	padding-left: 15px;
}

.col-lg-8 {
	margin-top: 50px;
}

.btn-primary {
	margin-top: 20px;
	margin-bottom: 15px;
}

ul li { padding: 5px 0px; }
