.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*Supporting Mamas*/
.header {
	background-color: #00CED1;
	width: 100%;
}
.headerfont {
	color: white;
}
h1 {
	display: inline-block;
	font-weight: 300;
}
.logo {
	height: 70px;
	width: 70px;
	display: inline-block;
	position: relative;
	bottom: 10px;
	padding: 5px;
	margin-left: 0%;
}
.box{
  margin-top: 90px;
	padding: 20px 10px 10px 10px;
	text-align: center;
	background-color: #00CED1;
	border-radius: 10px;
	color: white;
}
